<% @user ||= current_user %>
<div class="stats">
  <% if signed_in? && current_user?(@user) %>
    <h5><i class="icon-cog"></i> API Key</h5>
    <div class="well" id="api_key_well"><%= @user.api_key %></div>
  <% end %>
</div>