<%= form_for(@stitch) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :description, placeholder: "Compose new micropost..." %>
    </div>
    <%= f.submit "Create Stitch", class: "btn btn-large btn-primary" %>
<% end %>