<%= form_for([@stitch, @video]) do |f| %>
    <fieldset>
      <legend>Upload Video</legend>

      <span class="help-block">Upload will start immediately after select</span>

      <input type="hidden" name="video[panda_video_id]" id="panda_video_id" />

      <div class='progress progress-striped progress-info active'>
        <span id="progress-bar" class='bar'></span>
      </div>

      <div class='btn-toolbar'>
        <div id='browse-files' class='btn btn-primary'><span>Choose file</span></div>
        <button id='cancel-button' class='btn btn-danger'>Cancel</button>
      </div>

    </fieldset>

<% end %>

<script>

    $('#cancel-button').click(function(e){
        uploader.cancel(uploader.getQueuedFiles()[0]);
        e.preventDefault();
    })

    var uploader = panda.uploader.init({
        'buttonId': 'browse-files',
        'progressBarId': 'progress-bar',
        'maxFileSize': '10 MB',
        'onQueue': function(files) {
            $.each(files, function(i, file) {
                uploader.setPayload(file, {'csrf': "<%= form_authenticity_token %>"});
            })
        },
        'onSuccess': function(file, data) {
            $("#panda_video_id").val(data.id)
        },
        'onComplete': function(){
            if($("#panda_video_id").val())
                $("#new_video").submit();
        },
        'onError': function(file, message) {
            alert(message);
        },
        'onCancel': function(file) {
            uploader.setProgress(0);
        }
    });

</script>